@model ItemVM
@*<form asp-controller="Item" asp-action="Display" method="get">*@
<div class="row">
    <div class="col-1">
        <label>Name:</label>
    </div>
    <div class="col-11">
        <input asp-for="@Model.Item.Name" />
    </div>
</div>
<div class="row">
    <div class="col-1">
        <label>Category:</label>
    </div>
    <div class="col-11">
        <select asp-for="@Model.Item.Id" asp-items="@Model.CategorySelector"></select>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <label>Notes:</label>
    </div>
    <div class="col-11">
        <textarea rows="5" cols="80" asp-for="@Model.Item.Notes"></textarea>
    </div>
</div>
@*</form>*@
