@model  ItemVM
@*<form asp-controller="Item" asp-action="Display" method="get">*@
    Name: <input asp-for="@Model.Item.Name" />
    <br />
    Category: <input asp-for="@Model.Category.Name" />
    <br />
    Notes : <input asp-for="@Model.Item.Notes" />
    <br />
@*</form>*@
