@model HomeIndexViewModel


@foreach (ItemSummaryVM itemSummary in @Model.ItemSummaries)
{
  @Html.Partial("ItemSummary",itemSummary)
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary" page-url-category="@Model.CurrentCategory"
     page-class-selected="btn-primary" class="btn-group m-1 pull-right">

</div>

